@import variables



main
  padding-top: 90vw
  .main-content
    position: relative
    z-index: 10
    background: $dark
    color: $white
    .about
      padding: 15% 0
      display: flex
      justify-content: center
      box-shadow: 0px -8px 69px -36px $dark
      border: 1px solid $dark-light
      .description
        width: 40%
        text-align: left
        .icon-hello
          position: absolute
          top: 6%
          left: 10.7%
          font-size: 5em
          transform-origin: 90% 90%
          transform: rotate(-25deg)
          animation: rotate-animation 1.1s linear infinite alternate
        h2
          position: relative
          left: 8%
          top: 0
          font-size: 2em
        p
          font-weight: 200
          font-size: 1.2em
          line-height: 1.6em
      .qualities
        width: 40%
        h2
          font-size: 2em
        .qualities-list
          text-align: left
          margin-left: 17%
          font-weight: 200
          font-size: 1.2em
          line-height: 1.5em
    .skills
      @extend .about
      padding: 10% 0
      .description
        width: 35%
        p
          line-height: 2em
      .skills-bar
        @extend .qualities
        .skills-bar-items
          display: flex
          justify-content: center
          width: 50%
          margin: 0 auto
          .skill-description
            width: 40%
            text-align: left
          .svg-icon-bar
            width: 60%
            margin: 0.7em 0
            text-align: left
            .svg-icon-star
              width: 40px
              height: 30px
              .star
                fill: $white
    .projects
      @extend .about
      justify-content: flex-start
      flex-wrap: wrap
      padding: 10%
      .description
        width: 60%
        margin: 0 40% 0 5%

.projects-grid-container
  margin: 7% auto 0 auto
  padding: 0 7%
  display: grid
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr))
  grid-gap: 3%
  width: 100%
  .grid-items
    margin-bottom: 20px
    display: none
    .toolbar
      display: flex
      align-items: center
      padding: 9px
      background: $dark-light
      .dot-icon
        width: 8px
        height: 8px
        margin-right: 4px
        background: $dark-white
        border-radius: 100%
    .project-card
      cursor: pointer
      position: relative
      width: 100%
      margin-bottom: 15px
      padding-bottom: 68%
      overflow: hidden
      .svg-icon-eye
        $size: 2.8em
        position: absolute
        z-index: 1
        left: calc(50% - #{$size}/2)
        top: calc(50% - #{$size}/2)
        width: $size
        height: $size
        .eye
          fill: $dark-white
          opacity: 0
          transition: 0.5s ease
          transition-delay: 0.1s
      .project-img
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        object-fit: cover
        transition: 0.6s ease
        transition-delay: 0.2s
      &:hover:after
          content: ""
          opacity: 0.9
      &:hover
        .project-img
          left: -3%
          width: 105%
          height: 105%
        .eye
          opacity: 1
    .project-heading
      margin: 0 0 3px 0
      text-align: left
      font-weight: 400
    .project-text
      margin: 0
      text-align: left
      font-weight: 100

.project-card:after
    position: absolute
    content: ""
    width: 100%
    height: 100%
    background: $lightgreen-gradient
    opacity: 0
    left: 0
    top: 0
    transition: 0.5s ease
    transition-delay: 0.1s

.modal
  position: fixed
  left: 0
  top: 0
  visibility: hidden
  z-index: 999
  opacity: 0
  width: 100%
  height: 100%
  .modal-grid-container
    position: absolute
    top: 50%
    left: 50%
    width: 70%
    padding: 2rem
    border-radius: .3rem
    color: $dark
    background: $white
    transform: translate(-45%,-45%) scale(.1)
    transition: all .5s ease
  .modal-grid-container
    display: grid
    grid-template-areas: "h2 h2 close" "image text text" "image button button"
    grid-template-rows: .5fr 1fr 1fr
    grid-template-columns: 1.5fr 1fr 1fr
    grid-gap: 3%
    h2
      grid-area: h2
      text-align: left
      margin-left: 1%
      font-weight: 400
    img
      grid-area: image
      width: 60%
      height: auto
      margin-left: 2%
      border-radius: 3px
    p
      grid-area: text
      font-size: 1.3em
      font-weight: 300
      margin-top: 1%
      margin-left: -24%
      text-align: left
    .modal-close
      grid-area: close
      cursor: pointer
      position: absolute
      left: 90%
      top: 10%
      font-size: 2em
      font-weight: 300
      padding: 4px 10px
      transition: all .4s
      &:hover
        background: $dark
        color: $white
    .modal-btns
      grid-area: button
      .modal-btn
        position: relative
        left: 25%
        top: 45%
        background: $dark
        color: $white
        border: 0
        letter-spacing: .3rem
        border-radius: 6rem
        padding: 10px 40px
        margin-left: 3%
        font-size: 1.5em
        box-shadow: 0.3rem 0.3rem 2.5rem $dark-light
        transition: all .3s
        line-height: 1
        &:active
          box-shadow: 0.3rem 0.3rem 1.25rem $dark-light
          top: 50%
        &:hover
          outline: 0
          background-color: $white
          color: $dark
          box-shadow: 0.5rem 0.5rem 1.875rem $dark-light

.modal--active
  opacity: 1
  visibility: visible
  background-color: rgba($dark-light, 0.8)


// Animation

@keyframes rotate-animation
  0%
    transform: rotate(-25deg)
  50%
    transform: rotate(-30deg)
  100%
    transform: rotate(-35deg)
