
// Colors

$dark: #191919
$dark-light: #323232
$white: hsl(0, 0, 95%)

// Gradient

$green-gradient: linear-gradient(to right, hsl(160, 55%, 45%) 0%, hsl(100, 45%, 55%) 100%)
$white-gradient: linear-gradient(to right, hsl(0, 0, 95%) 0%, hsl(60, 1%, 71%) 100%)


// Sizes

.low-size
  font-size: 0.9em
.h1-size
  font-size: 2em
