
// Colors

$dark: rgb(25, 25, 25)
$dark-light: rgb(50, 50, 50)
$white: rgb(242, 242, 242)

// Gradientbackground-image:

$lightgreen-gradient: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%)
$green-gradient: linear-gradient(to right, rgb(8, 199, 146) 0%, rgb(150, 209, 110) 100%)
$white-gradient: linear-gradient(to right, rgb(242, 242, 242) 0%, rgb(181, 181, 179) 100%)
$orange-gradient: linear-gradient(to right, rgb(255, 203, 82) 10%, rgb(255, 123, 2) 100%)
$purple-gradient: linear-gradient(to right, rgb(193, 101, 221) 0%, rgb(92, 39, 254) 100%)
$x2green-gradient: linear-gradient(to right, rgb(42, 254, 183) 0%, rgb(8, 199, 146) 100%)
$blue-gradient: linear-gradient(to right, rgb(85, 129, 241) 0%, rgb(17, 83, 252) 100%)
$orangepink-gradient: linear-gradient(to right, rgb(250, 205, 104) 0%, rgb(252, 118, 179) 100%)
$greenblue-gradient: linear-gradient(to right, rgb(0, 247, 167) 0%, rgb(4, 245, 237) 100%)
$bluepurple-gradient: linear-gradient(to right, rgb(29, 229, 226) 0%, rgb(180, 136, 247) 100%)
$yellow-gradient: linear-gradient(to right, rgb(255, 226, 36) 10%, rgb(255, 181, 51) 100%)

// Sizes

.micro-size
  font-size: 0.5em
.low-size
  font-size: 0.9em
.h1-size
  font-size: 2em


// aligns

.left-align
  text-align: left
.center-align
  text-align: center
.right-align
  text-align: right
.inherit-align
  text-align: inherit


// font-styles

.italic
  font-style: italic

.bold
  font-weight: 500
