@import variables
@import header
@import main-container

//   z-index   //

//   z::0   header-grid-container
//   z::1   article .article-background
//   z::2   article img
//   z::3   article .text-article
//   z::4   qualities shadow
//   z::5   qualities
//   z::10  main content

// ---------- //

// General styles

body
  color: $white
  text-align: center
  font-family: 'Poppins', sans-serif
a
  text-decoration: none
  color: inherit




// Media

@media all and (max-width: 1600px)
  body

@media all and (max-width: 1366px)
  body

@media all and (max-width: 1024px)
  body

@media all and (max-width: 812px)
  body

@media all and (max-width: 667px)
  body

@media all and (max-width: 414px)
  body
    
