@import variables
@import ../fonts/_fonts.css

// General styles

body
  color: $white
  text-align: center
  font-family: 'Roboto Slab', serif


// Header styles
// Grid settings
.header-grid-container
  display: grid
  position: fixed
  grid-template-areas: "nav article"
  grid-template-rows: 100vw
  grid-template-columns: 30vw 70vw
  grid-gap: 0px
  margin: 0
  z-index: 0
  background: $dark
  justify-items: center

#navbar
  grid-area: nav

#article
  grid-area: article

// Header styles
nav
  h1
    text-align: left
    margin-top: 50%
    font-weight: 400
    span

article
  width: 100%
  height: auto
  align-items: center

  .article-background
    position: absolute
    width: 68%
    height: 45%
    margin: 30px auto
    background: $white-gradient
    border-radius: 10px
    z-index: 1

  .text-article
    color: $dark-light
    margin-top: 6%
    width: 36%
    position: absolute
    z-index: 3
    h1
      font-size: 1.9em
      font-weight: 300
      line-height: 1.2
      text-align: left
      margin: 0 auto
      margin-left: 8%
  img
    position: relative
    width: 50%
    height: 40%
    margin: 5% auto
    margin-left: 28%
    z-index: 2



// Main container styles


main
  .space
    padding-top: 62vw

  .main-content
    position: relative
    z-index: 10
    background: $dark
    box-shadow: 0px -8px 69px -36px $dark
    border: 1px solid $dark-light
    padding: 50px 0

.highlight
  background: $yellow-gradient
  padding: 5px 12px
  opacity: 0.9
  border-radius: 2px
  color: $dark-light
#name
  padding: 0 10px
  color: $white
  background: $purple-gradient

// Media

@media all and (max-width: 1600px)
  body
    font-size: 0.8rem
@media all and (max-width: 1366px)
  body
    font-size: 0.7rem
@media all and (max-width: 1024px)
  body
    font-size: 0.5rem
@media all and (max-width: 812px)
  body
    font-size: 0.38rem
@media all and (max-width: 667px)
  body
    font-size: 0.3rem
@media all and (max-width: 414px)
  body
    font-size: 0.39rem
  #name
    padding: 0 3px
  .header-grid-container
    grid-template-areas: "nav" "article"
    grid-template-rows: 50vw
    grid-template-columns: 100vw
  main
    .space
      padding-top: 590px
  article
    background: $white-gradient
    width: 375px
    height: 410px
    .text-article
      margin-top: 30%
      width: 50%
    img
      width: 90%
      height: auto
      margin: 5% auto
      margin-left: 20%
  .article-background
    display: none
