@import variables

//   z-index   //

//   z::0   header-grid-container
//   z::1   article .article-background
//   z::2   article img
//   z::3   article .text-article
//   z::4   qualities shadow
//   z::5   qualities
//   z::10  main content


// General styles

body
  color: $white
  text-align: center
  font-family: 'Poppins', sans-serif
a
  text-decoration: none
  color: inherit



// Header styles
// Grid settings
.header-grid-container
  display: grid
  position: fixed
  grid-template-areas: "nav article"
  grid-template-rows: 100vw
  grid-template-columns: 30vw 70vw
  grid-gap: 0px
  margin: 0
  z-index: 0
  background: $dark
  justify-items: center

#navbar
  grid-area: nav

#article
  grid-area: article

// Header styles

// navbar
nav
  text-align: left
  h1
    margin-top: 51%
    margin-bottom: 90%
    font-weight: 400
  .logo
    position: absolute
    margin-top: 5%
  .link-text
    width: 50%
    display: block
    margin: 6px 0
    font-size: 1.2em
    font-weight: 300
    cursor: pointer
    &:hover
      .gradient-underline
        background-position: 0% 100%
    i
      font-size: 1.2em
      position: relative
      top: 4px
    p
      display: inline-block
      margin: 0
      padding: 4px
.gradient-underline
  transition: 1.5s cubic-bezier(.22,1,.32,1)
  background: linear-gradient(to right, rgb(193, 101, 221), rgb(92, 39, 254),  rgb(250, 205, 104), rgb(252, 118, 179))
  background-size: 300% 300%
  background-position: 100% 0%
  position: relative
  left: 15%
  height: 2px

#gr1
  width: 45%
#gr2
  width: 35%
#gr3
  width: 77%
#gr4
  width: 37%


// navbar-text-background
.highlight
  background: $orangepink-gradient
  padding: 10px 12px
  opacity: 0.9
  color: $dark-light
#nav-name
  display: inline-block
  margin-top: 20px
#name
  padding: 0 10px
  color: $dark
  background: $orangepink-gradient
  font-weight: 400

// Article styles
article
  width: 100%
  height: auto
  align-items: center
  img
    position: relative
    width: 50%
    height: 40%
    margin: 5% auto
    margin-left: 28%
    z-index: 2
  .article-background
    position: absolute
    width: 68%
    height: 45%
    margin: 2vw auto
    background: $white-gradient
    border-radius: 10px
    z-index: 1
  .text-article
    color: $dark-light
    margin-top: 6%
    width: 36%
    height: 40%
    position: absolute
    z-index: 3
    h1
      font-size: 1.8em
      font-weight: 300
      line-height: 1.2
      text-align: left
      margin: 0 auto
      margin-left: 8%


// Main container styles


main
  .space
    padding-top: 62vw
  .main-content
    position: relative
    z-index: 10
    background: $dark
    color: $white
    box-shadow: 0px -8px 69px -36px $dark
    border: 1px solid $dark-light
    padding: 50px 0
    .description
      width: 40%
      text-align: left
      .icon-hello
        position: absolute
        top: 25.6%
        left: 10.7%
        font-size: 5em
        transform-origin: 90% 90%
        transform: rotate(-25deg)
        animation: rotate-animation 1.1s linear infinite alternate
      h2
        position: relative
        left: 8%
        top: 0
        font-size: 2em
      p
        font-weight: 200
        font-size: 1.2em
        line-height: 1.5em
    .qualities
      width: 40%
      h2
        font-size: 2em
      .qualities-list
        text-align: left
        margin-left: 17%
        font-weight: 200
        font-size: 1.2em
        line-height: 1.5em
#about
  padding: 10% 0
  display: flex
  justify-content: center

// Animation

@keyframes rotate-animation
  0%
    transform: rotate(-25deg)
  50%
    transform: rotate(-30deg)
  100%
    transform: rotate(-35deg)

// Media

@media all and (max-width: 1600px)
  body
    font-size: 0.8rem
@media all and (max-width: 1366px)
  body
    font-size: 0.7rem
@media all and (max-width: 1024px)
  body
    font-size: 0.5rem
@media all and (max-width: 812px)
  body
    font-size: 0.38rem
@media all and (max-width: 667px)
  body
    font-size: 0.3rem
@media all and (max-width: 414px)
  body
    font-size: 0.39rem
  #name
    padding: 0 3px
  .header-grid-container
    grid-template-areas: "nav" "article"
    grid-template-rows: 50vw
    grid-template-columns: 100vw
  main
    .space
      padding-top: 590px
  article
    background: $white-gradient
    width: 375px
    height: 410px
    .text-article
      margin-top: 30%
      width: 50%
    img
      width: 90%
      height: auto
      margin: 5% auto
      margin-left: 20%
  .article-background
    display: none
